<section class='dashboard'>
    <%= render "layouts/search", url: dashboard_path %>

    <div class='box'>
        <% @activities.each do |activity| %>
            <%= render "layouts/card", activity: activity %>
        <% end %>
    </div>

    <%== pagy_nav(@pagy) %>
</dashboard>
