<h1> Dashboard </h1>
<%= render "layouts/search", url: dashboard_path %>

<div class='gallery'>
    <% @activities.each do |activity| %>
        <%= render "layouts/card", activity: activity %>
    <% end %>
</div>
