.activities {
  margin-top: -8rem;
  &__show {
    width: 100%;
    min-height: calc(100vh - 26rem);

    .activity {
      margin: 0 auto;
      position: relative;
      min-height: inherit;
      width: 60%;
      height: 100%;


      &__title {
        font-size: 6rem;
        text-align: center;
      }

      &__subtitle {
        font-size: 4rem;
        text-align: center;
      }

      &__image {
        display: block;
        margin: 3rem auto;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0.3rem 0.3rem 1rem rgba($color-black, 0.1);
      }


      &__user {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          padding: 0 1rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }

      &__description {
        width: 100%;

        img {
          width: 100%;
          border-radius: 8px;
          box-shadow: 0.3rem 0.3rem 1rem rgba($color-black, 0.3);
        }
      }

      &__steps {
        list-style-type: none;
        font-size: 2rem;
        width: 100%;
        margin: 0 auto;

        li {
          display: flex;
          justify-content: space-between;
          border-bottom: solid 0.2rem $color-grey;
          padding: 1rem 2rem;
        }
      }
    }
  }
}