// Reset / Normalize
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 400;

    @include res(desktop) {
        font-size: 72.5%;
    }

    @include res(htab) {
        font-size: 57.5%;
    }

    @include res(vtab) {
        font-size: 52.5%;
    }

    @include res(mobile) {
        font-size: 47.5%;
    }
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding-top: $header_height;
}