// Reset / Normalize
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    // Set 10px as default
    font-size: 62.5%;
    font-weight: 400;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    padding-top: $header_height;
}