<section class='home'>
  <div class='home__left'>
    <div class='logo'>
      <%= image_tag "agai_logo_2.png" %>
    </div>
  </div>
  <div class='home__right'>
    <div class='content'>
      <h1>Use roadmaps created by others</h1>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta, lorem id volutpat
      dapibus, purus libero faucibus enim, id ullamcorper felis libero sed dolor. Curabitur in
      vulputate felis, sed commodo nisi. Praesent id justo vel velit consectetur gravida. Ut congue
      mauris eget suscipit placerat. Aliquam ornare justo nec accumsan faucibus. Vestibulum vestibulum
      tortor quis ullamcorper aliquam.
      </p>
    </div>
  </div>
</section>