.container {
    &__content {
        padding: 10rem 15rem;
        background-color: $color-white;
        min-height: 100vh;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    &__item {
        margin: $item_gap;
    }
}


// margins

.margin-bottom-medium {
    margin-bottom: 0 3rem;
}

.margin-top-medium {
    margin-top: 0 3rem;
}

// notice alert
.message {
    padding: 1rem 2rem;
    width: 100%;
    text-align: center;
    border-bottom: solid 0.1rem $color-grey-very-light;

    &--alert {
        background-color: rgb(245, 200, 200);
        color: rgb(220, 40, 40)
    }

    &--notice {
        background-color: rgb(200, 245, 200);
        color: rgb(40,220,40)
    }
}

// User avatar
.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: solid 0.3rem white;
    object-fit: cover;
    object-position: center;

    &--small {
        width: 5rem;
        height: 5rem;
    }
}

// BACK
.back {
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 3.6rem;
    color: $color-ter-dark;
}