// DEFAULT
$color-white: rgb(250, 250, 250);
$color-black: rgb(10,10,10);

// GREYS
$color-grey-very-light: #eeeeee;
$color-grey-light: #cccccc;
$color-grey: #a0a0a0;
$color-grey-dark: rgb(117, 117, 117);

// ACCENTS
$color-pri: #55c57a;
$color-pri-light: #7ed56f;
$color-pri-dark: #28b485;

$color-sec-light: #ffb900;
$color-sec-dark: #ff7730;

$color-ter-light: #2998ff;
$color-ter-dark: #5643fa;

// Lengths
    // header
$header_height: 6rem;

    // card
$card_width: 38rem;
$card_height: 42rem;
$item_gap: 3rem;
