.grade {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  
  label {
    font-weight: bold;
    color: $color-grey-dark;
    background-color: transparent;
  }

  select {
    width: 5rem;
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
  }

  input[type='submit'] {
    border: none;
    padding: 0.3rem 0.8rem;
    background-color: $color-white;
    border-radius: 3px;

    &:hover {
      background-color: $color-pri;
      transition: 0.3s ease-in-out;
    }
  }
}