.search {
  width: 50rem;
  margin: 2rem auto;
  font-size: 2rem;

  @include res(mobile) {
    width: 40rem;
  }

  input {
    padding: 1.5rem 2rem;
    width: 40rem;
    border-radius: 8px;
    border: solid 0.1rem $color-grey-light;
    display: inline-block;

    &:focus, &:active {
      outline: none;
    }

    @include res(mobile) {
      width: 25rem;
    }
  }

  &__submit {
    padding: 1.5rem;
    display: inline-block;
    border-radius: 8px;
    border: solid 0.1rem $color-grey-light;

    i {
      color: black;
      font-size: inherit;
    }

    &:focus, &:active {
      outline: none;
    }
  }
}
