<h1> Activities </h1>
<%= render "layouts/search", url: activities_path %>

<div class='gallery'>
    <% @activities.each do |activity| %>
        <%= render "layouts/card", activity: activity %>
    <% end %>
    <div class='card card__add gallery__item'>
        <%= link_to new_activity_path do %>
            <i class="fas fa-plus card__plus"></i>
        <% end %>
    </div>
</div>

<%== pagy_nav(@pagy) %>