<div class="accordion">
  <% elements.each do |element| %>
      <div class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false"><%= element.title %><i class="fas fa-search"></i></button>
        <div class="accordion-content">
          <div>
            <%= element.content %>
          </div>
        </div>
      </div>
  <% end %>
</div>
